/* custom font  for insta logo */

@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

a {
  color: white !important;
}

.brand-logo,
h2 {
  font-family: "Grand Hotel", cursive;
}

@keyframes spin-slow {
  to {
    transform: rotate(1turn);
  }
}

.animate-spin-slow {
  animation: spin-slow 1.5s linear infinite;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.mycard {
  margin-top: 30px;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.input-field input[type="password"]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

.home {
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

body {
  font-family: "Roboto", sans-serif;
}

.collection-item {
  width: 100%;
}

html,
body,
#root {
  height: 100%;
  background-color: #000; /* black background */
}

@font-face {
  font-family: "Instagram Sans Headline";
  src: url("./assets/font/Instagram Sans Headline.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Remove bottom border for all Materialize inputs */
input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
  border-bottom: none !important; /* remove underline */
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

/* Hide scrollbars for all elements */
* {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
